.card {
    width: 300px;
}

#navbar-example2 {
    display: flex;
    justify-content: center;
}

#navbar-content {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column-reverse;
    }

    #navbar-content {
        width: 900px
    }
}

.content-parent {
    display: flex;
    justify-content: center;
}

.content {
    max-width: 900px;
    margin-bottom: 40px;
}

.poster {
    width: 150px;
    height: 200px;
}

.cover {
    width: 150px;
    height: 150px;
}

.form-control {
    width: 15%;
}

#h1 {
    display: inline-block;
    width: max-content;
}

#h2 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

td {
    height: 50px;
    border-top: solid 1px #dee2e6;
}

td:hover {
    font-weight: bold;
}

#guestbook-div {
    margin-top: 15px;
}

#name {
    width: 70%;
}