.card {
    margin-left: auto;
    width: 300px;
    height: 350px;
    margin-bottom: 50px;
}

#navbar-example2 {
    display: flex;
    justify-content: center;
}

#navbar-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1600px) {
    #content-parent {
        display: flex;
        flex-direction: column-reverse;
    }
    .card {
        margin-right: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 1600px) {
    #content-parent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style-type: none;
    }
}

#h2-parent {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#h2 {
    width: 900px;
    max-width: -webkit-fill-available;
}

.poster {
    width: 150px;
    height: 200px;
}

.cover {
    width: 150px;
    height: 150px;
}

.form-control {
    width: 15%;
}

#h1 {
    display: inline-block;
    width: max-content;
}

#h2 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

td {
    height: 50px;
    border-top: solid 1px #dee2e6;
}

td:hover {
    font-weight: bold;
}

#guestbook-div {
    margin-top: 15px;
}

#name {
    width: 70%;
}