.card {
    width: 300px;
    height: 350px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.card-parent {
    margin-left: 20px;
    margin-right: 20px;
    width: 900px;
    display: flex;
    justify-content: end;
    align-self: center;
}

#navbar-example2 {
    display: flex;
    justify-content: center;
}

.toolbar {
    visibility: hidden;
}

#navbar-content {
    margin-left: 20px;
    margin-right: 20px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

#content-parent {
    display: flex;
    flex-direction: column-reverse;
}
 
img {
    border-radius: 5px;
}

@media print {
    iframe {
        visibility: hidden;
        margin-bottom: -400px;
    }

    nav {
        visibility: hidden;
        margin-top: -56px;
    }

    .period {
        display: flex;
    }

    .period-key {
        width: 30%;
    }

    .period-project {
        width: 65%;
        margin-left: 5%;
        margin-top: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .period {
        display: inline-block;
    }

    .period-key {
        width: 100%;
    }

    .period-project {
        border-left: 3px solid #d7dde3;
        padding-left: 24px;
        width: 100%;
    }

    .profile {
        display: inline-block;
    }

    .profile-key {
        width: 100%;
    }

    .profile-value {
        width: 100%;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 1000px) {
    .period {
        display: flex;
    }

    .period-key {
        width: 30%;
    }

    .period-project {
        width: 65%;
        margin-left: 5%;
        margin-top: 24px;
    }

    .profile {
        display: flex;
    }

    .profile-key {
        width: 50%;
    }

    .profile-value {
        width: 45%;
        margin-left: -40px;
    }
}

#h2-parent {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

#h2 {
    width: 900px;
    max-width: -webkit-fill-available;
}

.poster {
    width: 150px;
    height: 200px;
}

.cover {
    width: 150px;
    height: 150px;
}

.form-control {
    width: 15%;
}

#h1 {
    display: inline-block;
    width: max-content;
}

#h2 {
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
}

td {
    height: 50px;
    border-top: solid 1px #dee2e6;
}

td:hover {
    font-weight: bold;
}

#guestbook-div {
    margin-top: 15px;
}

#name {
    width: 70%;
}